BETTER_AUTH_SECRET= # your BetterAuth secret here
BETTER_AUTH_URL=http://127.0.0.1:3000/ # your BetterAuth URL here
SPOTIFY_CLIENT_ID= # your Spotify Client ID here
SPOTIFY_CLIENT_SECRET= # your Spotify Client Secret here